
#toc, .toc, .mw-warning {
    background-color: #F9F9F9;
    border: 1px solid #AAAAAA;
    font-size: 95%;
    padding: 5px;
}
#toc h2, .toc h2 {
    border: medium none;
    display: inline;
    font-size: 100%;
    font-weight: bold;
    padding: 0;
}
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
    text-align: center;
    margin:0 8px 4px 14px;
    padding-top:8px;
    line-height: 1.5;
    overflow:hidden;
}


#toc ul, .toc ul {
    list-style-image: none;
    list-style-type: none;
    margin:0 8px 7px 14px;
    padding-left: 0;
    text-align: left;
}
#toc ul ul, .toc ul ul {
    margin: 0 0 0 2em;
}
#toc .toctoggle, .toc .toctoggle {
    font-size: 94%;
}

#toc ul li {
    list-style-type: none;
    padding-left: 0;
}

#toc-container {
	margin-bottom: 10px;
}

/* --- */

#toc {
  border: solid 1px #ddd;
}

#toctitle h2:before {
  content: "";
  margin-left: 0;
}

#toctitle h2 {
  font-size: 100%;
  font-family: inherit;
}

#toc #toctitle {
  text-align: center;
  margin: 0 14px 4px 14px;
}

#toc ul {
  margin: 0 14px 10px 14px;
}

.tocnumber, .toctext {
  font-size: 90%;
  line-hight: 1;
}

table#toc {
  width: auto;
}

#toc-container {
	float: right;
  margin: 0 0 20px 20px;
}

/* Selects all <p> elements that are placed immediately after toc-container */
#toc-container + p {
  padding-top: 20px;
}

#toc-container + h2 {
  padding-top: 20px;
}
