<!DOCTYPE html>
<html>

<head>

  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" title="GNU ARM Eclipse" href="/feed.xml" />

  <title>STM32Fxx templates</title>
  <meta name="description" content="A family of Eclipse CDT extensions and tools for GNU ARM development">

  <meta property="og:title" content="STM32Fxx templates" />
  <meta property="og:site_name" content="GNU ARM Eclipse" />


  <meta property="article:published_time" content="2015-09-11">





  <meta name="google-site-verification" content="NT_y3tqI_8mrd8gYA_FDWHT2-tkJExOC6KBkSnyZx6c" />

  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css?201510051605" media="screen">
  <link rel="stylesheet" type="text/css" href="/stylesheets/print.css?201510051605" media="print">

  <link rel="canonical" href="/templates/stm32f/">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
  <link rel="manifest" href="/assets/manifest.json">

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-16767008-16', 'auto');
  ga('send', 'pageview');

</script>



</head>


<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<header>
  <div class="inner">
    <h1><a href="/">GNU ARM Eclipse</a></h1>
    <h2>A family of Eclipse CDT extensions and tools for GNU ARM development</h2>
    <a href="http://github.com/gnuarmeclipse" class="button"><small>Follow me on</small> GitHub</a>
  </div>
</header>


<div id="content-wrapper">
<div class="inner clearfix">

<div id="site-body">
<section id="main-content">


<h1 class="page-title">STM32Fxx templates</h1>


<div id="toc-container">
<table class="toc" id="toc">
<tbody>
<tr>
<td>
<div id="toctitle">
<h2>Contents</h2>
</div>
<ul>
<li class="toc_level-1 toc_section-1">
<a href="#tocAnchor-1-1"><span class="tocnumber">1</span> <span class="toctext">Overview</span></a>
</li>
<li class="toc_level-1 toc_section-2">
<a href="#tocAnchor-1-2"><span class="tocnumber">2</span> <span class="toctext">Create a new project</span></a>
<ul>
<li class="toc_level-2 toc_section-3">
<a href="#tocAnchor-1-2-1"><span class="tocnumber">2.1</span> <span class="toctext">Associate a device to the project</span></a>
</li>
</ul>
</li>
<li class="toc_level-1 toc_section-4">
<a href="#tocAnchor-1-4"><span class="tocnumber">3</span> <span class="toctext">Build</span></a>
</li>
<li class="toc_level-1 toc_section-5">
<a href="#tocAnchor-1-5"><span class="tocnumber">4</span> <span class="toctext">Exclude unused</span></a>
</li>
<li class="toc_level-1 toc_section-6">
<a href="#tocAnchor-1-6"><span class="tocnumber">5</span> <span class="toctext">Load flash and debug</span></a>
</li>
<li class="toc_level-1 toc_section-7">
<a href="#tocAnchor-1-7"><span class="tocnumber">6</span> <span class="toctext">Troubleshooting</span></a>
</li>
</ul>
</td>
</tr>
</tbody>
</table>
</div><h2 id="tocAnchor-1-1">Overview</h2>

<p>STM provides a large range of Cortex-M micro-controllers, grouped in several families. The GNU ARM Eclipse plug-ins provide support for F0, F1, F2, F3 and F4. Since all templates share common characteristics, the examples shown here will refer only to the F4 family.</p>

<h2 id="tocAnchor-1-2">Create a new project</h2>

<p>The template can create both C and C++ projects. To create a new C++ project:</p>

<ul>
<li>in the <em>Eclipse</em> menu, go to <strong>File</strong> → <strong>New → C++ Project</strong></li>
<li>in the <em>Executables</em> group, select the <strong>STM32F4xx C/C++ Project</strong></li>
</ul>

<p>
<img src="/assets/images/2014/04/NewF4Project.png" alt="New STM32F4 project" />
</p>

<p>Select the MCU and various project settings:</p>

<p>
<img src="/assets/images/2014/04/F4Target.png" alt="Define MCU and project settings" />
</p>

<p>Define the names of the destination folders:</p>

<p>
<img src="/assets/images/2014/04/F4Folders.png" alt="Define destination folder names" />
</p>

<p>Accept the default configuration names:</p>

<p>
<img src="/assets/images/2014/04/Configurations.png" alt="Build configurations" />
</p>

<p>Define the toolchain name and path:</p>

<p>
<img src="/assets/images/2014/04/Toolchain.png" alt="Toolchain path" />
</p>

<p>Note: DO NOT SKIP this step, it is mandatory to have a correct toolchain path defined in order for the build to complete correctly.</p>

<p>The generated project has the following structure:</p>

<p>
<img src="/assets/images/2014/02/F4Project.png" alt="Project structure" />
</p>

<h3 id="tocAnchor-1-2-1">Associate a device to the project</h3>

<p>Future releases of the wizard will this automatically but for now it is recommended to do it manually.</p>

<p>For more details, please visit the <a href="/eclipse/project/assign-device/">separate page</a>.</p>

<p>
<img src="/assets/images/2013/10/Devices.png" alt="Assign a device to the project" />
</p>

<h2 id="tocAnchor-1-4">Build</h2>

<p>As seen in the above picture, the project builds without errors and runs on the STM32F4DISCOVERY board, blinking the LED and printing trace lines on the debugger output window.</p>

<h2 id="tocAnchor-1-5">Exclude unused</h2>

<p>By default, the template wizard enables the <strong>Exclude unused</strong> option. The result is that unused device drivers source files, although copied in the project, are excluded from build, mainly to save some build time.</p>

<p>If you need to re-include some of the source files you need to right click on the file, select <strong>Resource Configurations</strong> → <strong>Exclude from Build...</strong> and deselect the build configuration you want to include the file.</p>

<h2 id="tocAnchor-1-6">Load flash and debug</h2>

<p>Once you successfully built the project (be sure the text size in the Print Size step is not zero), you need to connect the board to your development machine and download the program into the board flash memory.</p>

<p>For ARM devices, this is done using a JTAG or SWD probe. Most professional development boards include the standard JTAG connector, and a professional JTAG probe, like J-Link, can be used directly.</p>

<p>Some low cost development boards do not include the standard JTAG connector, but have an on-board version of a JTAG probe. For example, the STM32F4DISCOVERY includes a version of ST/LINK V2, and the board can be directly connected via USB to the development machine. The portable method of using the ST/LINK V2 is via OpenOCD.</p>

<p>For more details on debugging, please refer to the specific <a href="/debug/" title="Debugging">debug</a> pages.</p>

<h2 id="tocAnchor-1-7">Troubleshooting</h2>

<p>The usual sources for build failures are:</p>

<ul>
<li>a wrong or missing toolchain path; go to the project properties, C/C++ Build → Setting → the Toolchains tab and define the correct path;</li>
<li>missing build tools (make &amp; rm) on Windows; install the build tools.</li>
</ul>


<hr class="page-footer"/>
<p class="page-footer">Last modified on Sat Oct  3 10:04:54 2015 UTC.</p>


</section>

<aside id="sidebar">

<h4><a href="/blog/">Latest News</a></h4>

<ul>
<li><a href="/blog/2015/09/29/arm-connected-community-article/">ARM Connected Community article, September 2015</a></li>
<li><a href="/blog/2015/09/14/web-new-look/">The GNU ARM Eclipse project has a new home and a new look (GitHub)</a></li>
<li><a href="/blog/2015/08/19/plugins-v2.9.3-201508190739-released/">GNU ARM Eclipse plug-ins v2.9.3-201508190739 released</a></li>
<li><a href="/blog/2015/08/16/qemu-v2-3-50-20150816-released/">GNU ARM Eclipse QEMU v2.3.50-20150816*-dev released</a></li>
<li><a href="/blog/2015/08/07/plugins-v2.9.2-201508071246-released/">GNU ARM Eclipse plug-ins v2.9.2-201508071246 released</a></li>
</ul>

<hr />
<h4><a href="/">GNU ARM Eclipse Home</a></h4>

<h4><a href="/plugins/features/">Features</a></h4>

<h4><a href="/downloads/">Downloads</a></h4>

<ul>
<li><a href="/downloads/">Overview</a></li>
<li><a href="/plugins/download/">Plug-ins</a> (<a href="/developer/releases/">releases</a>)</li>
<li><a href="/windows-build-tools/download/">Windows Build Tools</a> (<a href="/windows-build-tools/releases/">releases</a>)</li>
<li><a href="/qemu/download/">QEMU</a> (<a href="/qemu/releases/">releases</a>)</li>
<li><a href="/openocd/download/">OpenOCD</a> (<a href="/openocd/releases/">releases</a>)</li>
</ul>

<h4><a href="/install/">Install</a></h4>

<ul>
<li><a href="/install/">Overview</a></li>
<li><a href="/plugins/install/">Eclipse plug-ins install</a></li>
<li><a href="/toolchain/install/">Toolchain(s) install</a></li>
<li><a href="/windows-build-tools/install/">Windows build tools (make &amp; rm) install</a></li>
<li><a href="/debug/install/">Debugging components</a>

<ul>
<li><a href="/debug/install/">Overview</a></li>
<li><a href="/debug/jlink/install/">SEGGER J-Link install</a></li>
<li><a href="/openocd/install/">OpenOCD install</a></li>
<li><a href="/qemu/install/">QEMU install</a></li>
</ul></li>
</ul>

<h4>Important</h4>

<ul>
<li><a href="/eclipse/workspace/preferences/">Workspace preferences</a></li>
<li><a href="/toolchain/path/">Toolchain path</a></li>
<li><a href="/eclipse/project/portability/">Project portability</a></li>
</ul>

<h4>Tutorials</h4>

<ul>
<li><a href="/tutorials/blinky-arm/">Create a Blinky ARM test project</a></li>
<li><a href="/tutorials/hello-arm/">Create a Hello ARM test project</a></li>
</ul>

<h4>How to use</h4>

<ul>
<li><a href="/plugins/mbs/">The managed build plug-in</a></li>
<li><a href="/plugins/packs-manager/">The packs manager (CMSIS)</a></li>
<li><a href="/eclipse/project/assign-device/">Assign a device</a></li>
</ul>

<h4><a href="/templates/">Templates</a></h4>

<ul>
<li><a href="/templates/">Overview</a></li>
<li><a href="/templates/cortexm/">Cortex-M template</a></li>
<li><a href="/templates/stm32f/">STM32Fxx template</a></li>
<li><a href="/templates/klxx/">Freescale KLxx templates</a></li>
</ul>

<h4><a href="/debug/">Debugging</a></h4>

<ul>
<li><a href="/debug/">Overview</a></li>
<li><a href="/debug/jlink/">The SEGGER J-Link plug-in</a></li>
<li><a href="/debug/openocd/">The OpenOCD plug-in</a></li>
<li><a href="/debug/qemu/">The QEMU plug-in</a></li>
<li><a href="/debug/peripheral-registers/">The peripheral registers view (CMSIS)</a></li>
</ul>

<h4><a href="/qemu/">GNU ARM QEMU Home</a></h4>

<ul>
<li><a href="/qemu/">Overview</a> (read me first!)</li>
<li><a href="/qemu/install/">QEMU Install</a></li>
<li><a href="/debug/qemu/">Eclipse plug-in</a></li>
<li><a href="/qemu/build-procedure/">How to build</a></li>
<li><a href="/qemu/releases/">Releases</a></li>
<li><a href="https://github.com/gnuarmeclipse/qemu/issues/1/">Support</a> (report issue)</li>
</ul>

<h4><a href="/openocd/">GNU ARM OpenOCD Home</a></h4>

<ul>
<li><a href="/openocd/">Overview</a> (read me first!)</li>
<li><a href="/openocd/install/">OpenOCD Install</a></li>
<li><a href="/debug/openocd/">The OpenOCD plug-in</a></li>
<li><a href="/openocd/build-procedure/">How to build</a></li>
<li><a href="/openocd/releases/">Releases</a></li>
<li><a href="https://github.com/gnuarmeclipse/openocd/issues/1/">Support</a>  (report issue)</li>
</ul>

<h4><a href="/windows-build-tools/">Windows Build Tools Home</a></h4>

<ul>
<li><a href="/windows-build-tools/">Overview</a> (read me first!)</li>
<li><a href="/windows-build-tools/install/">Windows Build Tools Install</a></li>
<li><a href="/windows-build-tools/build-procedure/">How to build</a></li>
<li><a href="/windows-build-tools/releases/">Releases</a></li>
<li><a href="https://github.com/gnuarmeclipse/windows-build-tools/issues/1/">Support</a> (report issue)</li>
</ul>

<h4>Advanced</h4>

<ul>
<li><a href="/advanced/headless-builds/">Headless builds</a></li>
</ul>

<h4><a href="/support/">Support</a></h4>

<ul>
<li><a href="/support/">Overview</a></li>
<li><a href="/support/known-issues/">Known issues</a></li>
<li><a href="/support/faq/">FAQ</a></li>
<li><a href="/support/sourceforge/">SourceForge tickets</a></li>
<li><a href="https://github.com/gnuarmeclipse/plug-ins/issues/1/">Report plug-ins issue</a></li>
</ul>

<h4><a href="/developer/">Developer</a></h4>

<ul>
<li><a href="/developer/build-procedure/">How to build</a></li>
<li><a href="/developer/publish-procedure/">How to publish</a></li>
<li><a href="/developer/change-log">Change log</a></li>
<li><a href="/developer/contribute/">Contribute</a></li>
</ul>

<h4>Hardware</h4>

<ul>
<li><a href="/developer/j-link-stm32-boards/">J-Link and STM32 boards</a></li>
</ul>

<h4>Articles</h4>

<ul>
<li><a href="/articles/arm-com-2014-07/">GNU ARM Eclipse: open source tools with (experimental) CMSIS Pack support</a></li>
<li><a href="/articles/arm-com-2015-09/">GNU ARM Eclipse has a new look and a new home</a></li>
</ul>

<h4>Licenses</h4>

<ul>
<li><a href="/licenses/plug-ins/">Eclipse plug-ins</a></li>
<li><a href="/licenses/tools/">Tools</a></li>
</ul>

<h4>Finance</h4>

<ul>
<li><a href="/finance/sponsorship/">Sponsorship &amp; donations</a></li>
</ul>

<h4><a href="/about/">About</a></h4>

<hr />
<p>This site uses the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="NXKFN7DJH8DJ6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</aside>


</div>
</div>

<div class="inner clearfix">
<div class="site-footer">
  <div class="site-footer-links left">
    <ul>
<li>© 2015 Liviu Ionescu</li>
<li>Hosted on GitHub Pages</li>
<li><a href="/feed.xml"><img src="/assets/images/feed-20.png" alt="RSS"></a></li>
<li><div class="fb-like" data-href="https://facebook.com/gnuarmeclipse/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div></li>
</ul>

  </div>
  <a href="http://github.com/gnuarmeclipse" aria-label="Homepage">
      <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
  </a>
  <div class="site-footer-links right">
    <ul>
<li><a href="/">Home</a></li>
<li><a href="/blog/">News</a></li>
<li><a href="/downloads/">Downloads</a></li>
<li><a href="/support/">Support</a></li>
<li><a href="/about/">About</a></li>
</ul>

  </div>
</div>

</div>

</div>

</body>

</html>
